{% extends "base.html" %}
{% load static %}


{% block content %}


<h1>{{ title }} | <a class="btn btn-primary" href="{% url 'main:table' result_id %}">Table View</a></h1>
<hr>
<div class="container">
	<div class="row">
        <div>
            <ul>
                <li>
                    No. of Virus Proteins: <b>{{ virus_count }}</b>
                    | No. of Host Proteins: <b>{{ host_count }}</b>
                    | No. of Gene-Based Unique Interactions: <b>{{ interaction_count_genes }}</b>
                    | No. of Strain-Based Unique Interactions: <b>{{ interaction_count_strains }}</b>
                </li>
				<li>
					No. of Gene-Based Interolog Interactions: <b>{{ interolog_genes }}</b>
					| No. of Gene-Based Domain Interactions: <b>{{ domain_genes }}</b>
				</li>
				<li>
					No. of Strain-Based Interolog Interactions: <b>{{ interolog_strains }}</b>
					| No. of Strain-Based Domain Interactions: <b>{{ domain_strains }}</b>
				</li>
                <li>Right click &amp; hold on <b>node names</b> for additional information and links.</li>
                <li>Hold <b>Ctrl</b> and click on nodes for multi-select</li>
            </ul>
        </div>
		<div style="display: none">
			Node selected: <span id="nodename"></span>
			<ul>
				<li>Interacting partners: <span id="partners"></span></li>
				<li>No. of interactions: <span id="interactions"></span></li>
				<li>Strains involved: <span id="strains"></span></li>
			</ul>
		</div>
	
		<div id="cy-wrapper" class="col-sm-9">
			<div id="cy" class="rounded border border-info"><span id="noedges" style="font-size: large;font-weight: bold; visibility: hidden">No edges found</span></div>
		</div>

		<div id="cy-toolbar" class="col-sm-3 bg-steel rounded">
		<h3>
    		<button class="tablink rounded active" onclick="changeBar(event, 'legend')">Legend</button>
	    	|<button class="tablink rounded" onclick="changeBar(event, 'filter')">Filter</button>
		</h3>
			<hr>
			<div class="tabcontent container" id="legend">
    			<small>
    			<h5>Nodes</h5>
    			<p><i class="fa fa-circle fa-red"></i>: Pathogen Proteins</p>
    			<p><i class="fa fa-circle fa-blue"></i>: Host Proteins</p>
    			<h5>Edges</h5>
    			{% for strain in strain_colors %}
    			    {% if strain.color == "#000000" %}
        				<p class="rounded text-light {{strain.color}}" style="background-color: {{strain.color}}">{{ strain.name }}</p>
                    {% else %}
        				<p class="rounded text-dark {{strain.color}}" style="background-color: {{strain.color}}">{{ strain.name }}</p>
    				{% endif %}
    			{% endfor %}
    			</small>
			</div>

            <div class="tabcontent container start-inactive" id="filter">
                <!-- strains -->
                <div class="container">
                    <label for="strains" class="form-label">Strain Display Toggle</label>
                    <select multiple size="5" name="strains" id="strains" class="form-control">
                        {% for strain in strain_colors %}
                            <option onclick="toggleStrain('{{ strain.name }}')" id="{{ strain.name }}">{{ strain.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- virus proteins -->
                <div class="container">
                    <label for="nodes" class="form-label">Protein Display Toggle</label>
                    <select multiple size="5" name="nodes" id="nodes" class="form-control">
                        {% for n in nodes %}
                            <option onclick="toggleProtein('{{n.id}}')" id="{{n.id}}_option">{{n.id}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.20.0/cytoscape.min.js"></script>
<script src="https://unpkg.com/webcola@3.3.8/WebCola/cola.min.js"></script>
<script src="https://unpkg.com/cytoscape-cola@2.2.3/cytoscape-cola.js"></script>
<script src="{% static 'main/cytoscape-cxtmenu.js' %}"></script>
<script src="{% static 'main/cytoscape-navigator.js' %}"></script>
<!-- For network popups -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape-popper/2.0.0/cytoscape-popper.js" integrity="sha512-VOmteS5u7KekLX+qz40Iv/tktjj66Xne3rZGBJnUW9B2z2tkKakteI5pILabE4wQbbx7W7av512yk+MvsPZuMw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

selectedStrains = []
selectedProteins = []

function toggleProtein(nodeID) {
	if (selectedProteins.includes(nodeID)) {
		selectedProteins = selectedProteins.filter(item => item !== nodeID)
		if (selectedProteins.length === 0) {
			cy.nodes().style('visibility', 'visible');
			cy.edges().style('visibility', 'visible');
		} else {
			cy.nodes('#' + nodeID).style('visibility', 'hidden');
			cy.getElementById(nodeID).neighborhood().edges().forEach(function (edge) {
				edge.style('visibility', 'hidden');
			});
		}
		document.getElementById(`${nodeID}_option`).style.backgroundColor = "#ffffff";
	} else if (selectedProteins.length > 0) {
		selectedProteins.push(nodeID)
		cy.nodes('#' + nodeID).style('visibility', 'visible');
		document.getElementById(`${nodeID}_option`).style.backgroundColor = "#5f788a";
		cy.getElementById(nodeID).neighborhood().edges().forEach(function (edge) {
			var sourceVisible = edge.source().style('visibility') === 'visible';
			var targetVisible = edge.target().style('visibility') === 'visible';
			if (sourceVisible && targetVisible) {
				edge.style('visibility', 'visible');
			}
		});
	} else {
		document.getElementById(`${nodeID}_option`).style.backgroundColor = "#5f788a";
		cy.nodes().not('#' + nodeID).style('visibility', 'hidden');
		selectedProteins.push(nodeID)
		cy.edges().style('visibility', 'hidden');
	}

	if (selectedStrains.length > 0) {
		cy.edges().filter(function (edge, i, eles) {
			var strainAttributeValue = edge.data('strain');
			return !selectedStrains.includes(strainAttributeValue);
		}).style('visibility', 'hidden');
	}
	
	visibleEdges = cy.edges().filter(function (edge, i, eles) {
			var strainAttributeValue = edge.style("visibility");
			return strainAttributeValue != "hidden";
		}).length
	console.log(visibleEdges)
	if (visibleEdges == 0) {
		document.getElementById("noedges").style.visibility = "visible"
	} else {
		document.getElementById("noedges").style.visibility = "hidden"
	}
}

function toggleStrain(strain) {
	if (selectedStrains.length === 0) {
		cy.edges().style('visibility', 'hidden');
		var edgeList = cy.elements(`edge[strain="${strain}"]`);
		for (edge of edgeList) {
			edge.style("visibility", "visible")
		}
		selectedStrains.push(strain)
		document.getElementById(strain).style.backgroundColor = "#5f788a";
	} else if (selectedStrains.length === 1 && selectedStrains.includes(strain)) {
		cy.edges().style('visibility', 'visible');
		document.getElementById(strain).style.backgroundColor = "#ffffff";
		selectedStrains = []
	} else {
		if (selectedStrains.includes(strain)) {
			var edgeList = cy.elements(`edge[strain="${strain}"]`);
			for (edge of edgeList) {
				edge.style("visibility", "hidden")
			}
            document.getElementById(strain).style.backgroundColor = "#ffffff";
			selectedStrains = selectedStrains.filter(item => item !== strain)
		} else {
			var edgeList = cy.elements(`edge[strain="${strain}"]`);
			for (edge of edgeList) {
				edge.style("visibility", "visible")
			}
            document.getElementById(strain).style.backgroundColor = "#5f788a";
			selectedStrains.push(strain)
		}
	}

	cy.elements(`edge[strain="${strain}"]`).forEach(function (edge) {
		var sourceVisible = edge.source().style('visibility') === 'visible';
		var targetVisible = edge.target().style('visibility') === 'visible';
		if (!sourceVisible || !targetVisible) {
			edge.style('visibility', 'hidden');
		}
	});

	visibleEdges = cy.edges().filter(function (edge, i, eles) {
		var strainAttributeValue = edge.style("visibility");
		return strainAttributeValue != "hidden";
	}).length
	console.log(visibleEdges)
	if (visibleEdges == 0) {
		document.getElementById("noedges").style.visibility = "visible"
	} else {
		document.getElementById("noedges").style.visibility = "hidden"
	}
}

function closePoppers() {
	let poppers = document.getElementsByClassName("popper-content")
	for (popper of poppers) {
		popper.parentNode.removeChild(popper);
	}
}

function changeBar(evt, display) {
    var i, tabcontent, tablinks;

    tabcontent = document.getElementsByClassName("tabcontent");
    for (i=0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    document.getElementById(display).style.display = "block";
    evt.currentTarget.className += " active";
}

var cy = cytoscape({
	container: document.getElementById("cy"),
	elements: [
		{% for n in nodes %}
			{data: {id: "{{n.id}}", color: "{{n.color}}"}},
		{% endfor %}

		{% for i in interactions %}
			{data: {id: "{{i.id}}", source: "{{i.source}}", target: "{{i.target}}", color: "{{i.color}}", strain: "{{i.strain}}"}},
		{% endfor %}
	],

	style: [
			{
				selector: "node",
				style:
					{
						"background-color": "data(color)", 
						"label": "data(id)",
					}
			},

			{
				selector: "edge",
				style:
				{
					"width": 1,
					"line-color": "data(color)",
					"curve-style": "haystack",
					"haystack-radius": 0.5,
					"line-opacity": .6,
				}

			},
			{
				selector: ":selected",
				style:
				{
					"background-color": "black",
				}
			}
		],

        minZoom: 1e-10,
        maxZoom: 1e10,
		wheelSensitivity: 0.7,

});


var layout = cy.layout({name: "cola", animate: false, fit: true});

layout.run();

//cy minimap
/*
var defaults = {
};

var nav = cy.navigator(defaults);
*/

cy.on('cxttap', 'node, node > label', function (event) {
	var node = event.target;
	event.preventDefault();
	id = node.id()
	nodeType = node.data("color") == "red" ? "Pathogen" : "Human"
	partnerNodes = node.neighborhood('node').filter(':visible');
	partners = partnerNodes.map(function (ele) {
		return ele.id();
	});	
	interactions = node.connectedEdges()
	strains = new Set();
	interactions.forEach(function (edge) {
		var strainValue = edge.data('strain');
		if (strainValue !== undefined) {
			strains.add(`<a href="https://cov-lineages.org/lineage.html?lineage=${strainValue}" target="_blank">${strainValue}</a>`);
		}
	});
	strains = Array.from(strains);
	links = `<b><a href="https://www.ncbi.nlm.nih.gov/search/all/?term=${id}" target="_blank">NCBI<a></b> | <b><a href="https://www.uniprot.org/uniprot/?query=${id}+AND+2697049&facets=reviewed%3Atrue" target="_blank">UniProt<a></b>`
	if (nodeType === "Human") {
		links = `<b><a href="https://www.ncbi.nlm.nih.gov/search/all/?term=${id}" target="_blank">NCBI<a></b> | <b><a href="https://gtexportal.org/home/gene/${id}" target="_blank">GTEx<a></b> | <b><a href="https://www.proteinatlas.org/search/${id}" target="_blank">HPA<a></b>`
	}

	closePoppers()

	// Show the popper for the right-clicked node
	activePopper = node.popper({
		content: () => {
		  let div = document.createElement('div');
		  
		  div.classList.add('popper-content');
	  
		  div.innerHTML = `<h5><b>${id}</b>: ${nodeType}</h5>
		  <button type="button" class="btn-close close-button" aria-label="Close" onclick="closePoppers()"></button>
		  ${links}<br>
		  <b>Interacting partners:</b> ${partners.length} (${partners.join(', ')})<br>
		  <b>Total number of interactions:</b> ${interactions.length}<br>
		  <b>Strains involved:</b> ${strains.length} (${strains.join(', ')})<br>
		  `
	  
		  document.body.appendChild(div);
	  
		  return div;
		}
	  });

	if (nodeType === "Human") {
		let poppers = document.getElementsByClassName("popper-content")
		for (popper of poppers) {
			popper.classList.add("blue-popper");
		}
	} else {
		let poppers = document.getElementsByClassName("popper-content")
		for (popper of poppers) {
			popper.classList.add("red-popper");
		}
	}
	
	let update = () => {
		activePopper.update();
	};

	node.on('position', update);

	cy.on('pan zoom resize', update);
});

</script>
{% endblock %}

